/*
 * Variables
 */

font-color = #333
fonts = "Helvetica Neue", Helvetica, Arial, sans-serif 
header-font-color = #bbb

invisible-input()
  font-family fonts
  font-weight 200
  border none
  border-radius 0
  box-shadow none
  &:focus
    outline none
  background none
  color font-color
  width 100%

/*
 * Base
 */

* 
  box-sizing border-box
  margin 0
  padding 0

body
  color font-color
  font-family fonts
  font-weight 200

h1, h2, h3, h4, h5, h6, h7
  font-weight 200

ul, ol
  list-style none
  padding-left 0

/*
 * Layout
 */

#container
  margin auto
  width 1200px

#header
  margin 20px 5px

#header h1
  display inline-block
  margin-right 12px
  color #bbb
  font-size 24px

#content 
  margin-top 20px

.is-logged-in > #login-buttons
  opacity 0
  &:hover
    opacity 1

/*
 * Module
 */

.columns-item
  vertical-align top
  margin 5px

.groups
  display inline-block

.groups-group
  font-size 24px
  color header-font-color
  display inline-block
  -moz-user-select none
  -webkit-user-select none
  -ms-user-select none
  cursor: default
  &:not(:last-child)
    margin-right 10px
  &.is-active
    color font-color

  & > input
    invisible-input()
    color header-font-color
    font-size 24px

.is-deleting .groups-group:hover
  cursor default
  color red 
  
.list 
  display inline-block
  border-radius 7px
  height 500px
  width 380px
  padding 15px
  background-color #ddd
  margin-bottom 20px

.list-new
  border-thickness = 2px
  background none
  border solid (border-thickness) #ddd
  padding-top (15px - border-thickness)
  padding-left (15px - border-thickness)

.list-header
  invisible-input()
  font-size 24px
  margin-bottom 15px
.is-deleting .list-header:hover
  cursor default
  color red 

.list-list
  width 355px

.handle
  color #aaa
  opacity 0.0
.is-sorting .handle
  opacity 1.0

.list-item
  invisible-input()
  width 90%
  margin-bottom 5px
  font-size 20px
.is-deleting .list-item:hover
  cursor default
  color red 

.list-item-input
  invisible-input()
  font-size 20px
  width 100%
  margin-top -2px

.pull-right
  float right
