/*
 * CSS hacks to reset accounts-ui bug
 * TODO: remove when not needed
 */

#container input
  &[type=text], &[type=email], &[type=password]
    padding 0
    border none

/*
 * Variables
 */

// TODO: use pointer cursor when appropriate
// TODO: css animations flash on create, shift on destroy, etc, flash on failed validation

font-color = #333
fonts = "Helvetica Neue", Helvetica, Arial, sans-serif 
header-font-color = #bbb

invisible-input()
  font-family fonts
  font-weight 200
  border none
  border-radius 0
  box-shadow none
  &:focus
    outline none
  background none
  color font-color
  width 100%

/*
 * Base
 */

* 
  box-sizing border-box
  margin 0
  padding 0

body
  color font-color
  font-family fonts
  font-weight 200

h1, h2, h3, h4, h5, h6, h7
  font-weight 200

ul, ol
  list-style none
  padding-left 0

/*
 * Layout
 */

#container
  margin auto
  width 1200px

#header
  margin 20px 5px

#header h1
  display inline-block
  margin-right 12px
  color #bbb
  font-size 24px

#content 
  margin-top 20px

.is-logged-in > #login-buttons
  opacity 0
  &:hover
    opacity 1

/*
 * Module
 */

.columns-item
  vertical-align top
  margin 5px

.groups
  display inline-block

.groups-group
  position relative // for handle positioning
  font-size 24px
  color header-font-color
  display inline-block
  -moz-user-select none
  -webkit-user-select none
  -ms-user-select none
  cursor: default
  &:not(:last-child)
    margin-right 10px
  & > input
    invisible-input()
    color header-font-color
    font-size 24px
  &.is-active
    color font-color
  &.is-active > input
    color font-color

.group-handle
  display none
  position absolute
  top 2px
  right -8px
  color #ccc
  text-shadow 0 0 .5em white, 0 0 .5em white, 0 0 .5em white, 0 0 .5em white
.is-sorting .group-handle
  display inline

.is-deleting .groups-name:hover
  cursor default
  color red 

list-handle-color = #aaa

.list 
  position relative // for list-handle positioning
  display inline-block
  border-radius 7px
  height 500px
  width 380px
  padding 15px
  background-color #ddd
  margin-bottom 20px

.list-handle
  display none
  position absolute
  top 15px
  right 15px
  color list-handle-color
  font-size 24px
.is-sorting .list-handle
  display inline

.list-new
  border-thickness = 2px
  background none
  border solid (border-thickness) #ddd
  padding-top (15px - border-thickness)
  padding-left (15px - border-thickness)

.list-header
  invisible-input()
  font-size 24px
  margin-bottom 15px
.is-deleting .list-header:hover
  cursor default
  color red 

.list-list
  width 355px

.item-handle
  color list-handle-color
  opacity 0.0
.is-sorting .item-handle
  opacity 1.0

.list-item
  invisible-input()
  width 90%
  margin-bottom 5px
  font-size 20px
.is-deleting .list-item:hover
  cursor default
  color red 

.list-item-input
  invisible-input()
  font-size 20px
  width 100%
  margin-top -2px

.pull-right
  float right

.hidden
  display none
